!!! 5
%html{ lang: "ru"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1
              = brand_title
            - if brand_item
              = brand_image
              = brand_text
            - else
              %h3 Открытое программное обеспечение для совместной работы над кодом

              %p
                Управление git репозиториями с настраиваемым контролем доступа, содержащее ваш код в безопасности.
                Позволяет выполять анализ кода и расширять функционал с помошью сотрудничество, использя запросы слияния.
                Каждый проект может иметь баг-трекер и Вики.

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)

    %hr
    .container
      .footer-links
        = link_to "Обзор", explore_root_path
        = link_to "Документация", help_path
        = link_to "О GitLab", "https://about.gitlab.com/"
