.alert.alert-help.prepend-top-default
  Эта информация будет отображаться в вашем профиле.
  - if current_user.ldap_user?
    Некоторые параметры недоступны для учетных записей LDAP

.prepend-top-default
= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block Введите ваше имя, чтобы люди знакомые с вами, могли вас найти.

      .form-group
        = f.label :email, class: "control-label"
        .col-sm-10
          - if @user.ldap_user? && @user.ldap_email?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              Электронный адрес доступен только для просмотра пользователям LDAP
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                Пожалуйста, нажмите на ссылку в письме подтверждения перед продолжением. Оно было отправлено
                = succeed "." do
                  %strong #{@user.unconfirmed_email}
                %p
                = link_to "Повторно отправить подтверждение на электронный адрес", user_confirmation_path(user: { email: @user.unconfirmed_email }), method: :post

            - else
              %span.help-block Мы также используем электронную почту для обнаружения аватара, если он не загружается.
      .form-group
        = f.label :public_email, class: "control-label"
        .col-sm-10
          = f.select :public_email, options_for_select(@user.all_emails, selected: @user.public_email), {include_blank: 'Не показывать в профиле'}, class: "select2"
          %span.help-block Этот электронный адрес будет отображаться в вашем профиле.
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Вебсайт', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :location, 'Местоположение', class: "control-label"
        .col-sm-10= f.text_field :location, class: "form-control"
      .form-group
        = f.label :bio, class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 4, class: "form-control", maxlength: 250
          %span.help-block Расскажите нам о себе в менее чем 250 символов.

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                Вы можете изменить свой аватар здесь
                - if Gitlab.config.gravatar.enabled
                  %br
                  или удалить текущий аватар, чтобы вернуться к #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host}
              - else
                Вы можете загрузить аватар здесь
                - if Gitlab.config.gravatar.enabled
                  %br
                  или изменить его на #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host}
            %hr
            %a.choose-btn.btn.btn-sm.js-choose-user-avatar-button
              %i.fa.fa-paperclip
              %span Выбрать файл ...
            &nbsp;
            %span.file_name.js-avatar-filename Имя файла...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light Максимально разрешенный размер файла – 200 КБ.
            - if @user.avatar?
              %hr
              = link_to 'Удалить аватар', profile_avatar_path, data: { confirm: "Аватар, будет удален. Вы уверены?"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"


  .form-actions
    = f.submit 'Сохранить изменения', class: "btn btn-success"
    = link_to "Отмена", user_path(current_user), class: "btn btn-cancel"
