- page_title "Журналы"
- loggers = [Gitlab::GitLogger, Gitlab::AppLogger,
             Gitlab::ProductionLogger, Gitlab::SidekiqLogger]
%ul.nav-links.log-tabs
  - loggers.each do |klass|
    %li{ class: (klass == Gitlab::GitLogger ? 'active' : '') }
      = link_to klass::file_name, "##{klass::file_name_noext}",
          'data-toggle' => 'tab'
.gray-content-block
  Для предотвращения проблем с производительностью записывается вывод последних 2000 строк
.tab-content
  - loggers.each do |klass|
    .tab-pane{ class: (klass == Gitlab::GitLogger ? 'active' : ''),
        id: klass::file_name_noext }
      .file-holder#README
        .file-title
          %i.fa.fa-file
          = klass::file_name
          .pull-right
            = link_to '#', class: 'log-bottom' do
              %i.fa.fa-arrow-down
              Опуститься вниз
        .file-content.logs
          %ol
            - klass.read_latest.each do |line|
              %li
                %p= line
