- page_title "Уведомления"
- header_title page_title, profile_notifications_path

.prepend-top-default
= form_for @user, url: profile_notifications_path, method: :put, html: { class: 'update-notifications form-horizontal global-notifications-form' } do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :notification_type, 'global'

  .form-group
    = f.label :notification_email, class: "control-label"
    .col-sm-10
      = f.select :notification_email, @user.all_emails, { include_blank: false }, class: "form-control"

  .form-group
    = f.label :notification_level, class: 'control-label'
    .col-sm-10
      .radio
        = f.label :notification_level, value: Notification::N_DISABLED do
          = f.radio_button :notification_level, Notification::N_DISABLED
          .level-title
            Отключено
          %p Вы не будете получать уведомлений по электронной почте

      .radio
        = f.label :notification_level, value: Notification::N_MENTION do
          = f.radio_button :notification_level, Notification::N_MENTION
          .level-title
            При упоминании
          %p Вы будете получать уведомления только о комментариях, в которых вы были @упомянуты

      .radio
        = f.label :notification_level, value: Notification::N_PARTICIPATING do
          = f.radio_button :notification_level, Notification::N_PARTICIPATING
          .level-title
            Участие
          %p Вы будете получать уведомления только от связанных с вами ресурсов (например, от ваших коммитов или назначенных вопросы)

      .radio
        = f.label :notification_level, value: Notification::N_WATCH do
          = f.radio_button :notification_level, Notification::N_WATCH
          .level-title
            Наблюдатель
          %p Вы будете получать уведомления о любой активности

  .gray-content-block
    = f.submit 'Сохранить изменения', class: "btn btn-create"

.row.all-notifications.prepend-top-default
  .col-md-6
    %p
      Вы также можете указать уровень уведомлений для каждой группы или для каждого проекта.
      По умолчанию все проекты и группы будут использовать уведомлении уровня, указанного выше.
    %h4 Группы:
    %ul.bordered-list
      - @group_members.each do |group_member|
        - notification = Notification.new(group_member)
        = render 'settings', type: 'group', membership: group_member, notification: notification

  .col-md-6
    %p
      To specify the notification level per project of a group you belong to,
      %br
      you need to be a member of the project itself, not only its group.
    %h4 Проекты:
    %ul.bordered-list
      - @project_members.each do |project_member|
        - notification = Notification.new(project_member)
        = render 'settings', type: 'project', membership: project_member, notification: notification
