- is_admin = defined?(admin) ? true : false
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        SSH ключ
      %ul.well-list
        %li
          %span.light Наименование:
          %strong= @key.title
        %li
          %span.light Создан:
          %strong= @key.created_at.stamp("Aug 21, 2011")

  .col-md-8
    %p
      %span.light Отпечаток ключа:
      %code.key-fingerprint= @key.fingerprint
    %pre.well-pre
      = @key.key
  .pull-right
    = link_to 'Удалить', path_to_key(@key, is_admin), data: {confirm: 'Вы уверены?'}, method: :delete, class: "btn btn-remove delete-key"
