%tr
  %td
    = link_to path_to_key(key, is_admin) do
      %strong= key.title
  %td
    %code.key-fingerprint= key.fingerprint
  %td
    %span.cgray
      добавлен #{time_ago_with_tooltip(key.created_at)}
  %td
    = link_to 'Удалить', path_to_key(key, is_admin), data: { confirm: 'Вы уверены?'}, method: :delete, class: "btn btn-sm btn-remove delete-key pull-right"
