= form_for @appearance, url: admin_appearances_path, html: { class: 'form-horizontal'} do |f|
  - if @appearance.errors.any?
    .alert.alert-danger
      - @appearance.errors.full_messages.each do |msg|
        %p= msg

  %fieldset.sign-in
    %legend
      Страница входа/регистрации:
  .form-group
    = f.label :title, class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description, class: 'control-label'
    .col-sm-10
      = f.text_area :description, class: "form-control", rows: 10
      .hint
        Доступен облегчённый #{link_to "язык разметки Markdown", help_page_path('markdown', 'markdown'), target: '_blank'}.
  .form-group
    = f.label :logo, class: 'control-label'
    .col-sm-10
      - if @appearance.logo?
        = image_tag @appearance.logo_url, class: 'appearance-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to 'Удалить логотип', logo_admin_appearances_path, data: { confirm: "Логотип будет удален. Вы уверены?"}, method: :delete, class: "btn btn-remove btn-small remove-logo"
        %hr
      = f.hidden_field :logo_cache
      = f.file_field :logo, class: ""
      .hint
        Максимальный размер файла 1Мб. Страницы оптимизированы для логотипа 640х360 пикселей.

  %fieldset.app_logo
    %legend
      Панель навигации:
  .form-group
    = f.label :header_logo, 'Логотип шапки', class: 'control-label'
    .col-sm-10
      - if @appearance.header_logo?
        = image_tag @appearance.header_logo_url, class: 'appearance-light-logo-preview'
        - if @appearance.persisted?
          %br
          = link_to 'Удалить логотип шапки', header_logos_admin_appearances_path, data: { confirm: "Логотип шапки будет удален. Вы уверены?"}, method: :delete, class: "btn btn-remove btn-small remove-logo"
        %hr
      = f.hidden_field :header_logo_cache
      = f.file_field :header_logo, class: ""
      .hint
        Страницы оптимизированы для логотипа шапки сайта 72x72 пикселей.

  .form-actions
    = f.submit 'Сохранить', class: 'btn btn-save'
    - if @appearance.persisted?
      = link_to 'Показать последнее сохранение', preview_admin_appearances_path, class: 'btn', target: '_blank'

    - if @appearance.updated_at
      %span.pull-right
        Последняя правка #{time_ago_with_tooltip(@appearance.updated_at)}
