- page_title "Предпросмотр | Внешний вид"
%h3.page-title
  Настройка внешнего вида - Предпросмотр
%hr

.ui-box
  .title
    Страница входа
  %div
    .login-page
      .container
        .content
          .login-title
            %h1= brand_title
      %hr
      .container
        .content
          .row
            .col-sm-7
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            .col-sm-4
              .login-box
                %h3.page-title Войти
                = text_field_tag :login, nil, class: "form-control top", placeholder: "Имя аккаунта или Email"
                = password_field_tag :password, nil, class: "form-control bottom", placeholder: "Пароль"
                = button_tag "Вход", class: "btn-create btn"
