- page_title "Ваши фрагменты"
%h3.page-title
  Ваши фрагменты
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new btn-grouped", title: "Новый фрагмент" do
      Добавить новый фрагмент

%p.light
  Совместное использование кода с другими репозиториями git

%ul.nav.nav-tabs
  = nav_tab :scope, nil do
    = link_to user_snippets_path(@user) do
      Все
      %span.badge
        = @user.snippets.count
  = nav_tab :scope, 'are_private' do
    = link_to user_snippets_path(@user, scope: 'are_private') do
      Приватные
      %span.badge
        = @user.snippets.are_private.count
  = nav_tab :scope, 'are_internal' do
    = link_to user_snippets_path(@user, scope: 'are_internal') do
      Внутренние
      %span.badge
        = @user.snippets.are_internal.count
  = nav_tab :scope, 'are_public' do
    = link_to user_snippets_path(@user, scope: 'are_public') do
      Публичные
      %span.badge
        = @user.snippets.are_public.count

.my-snippets
  = render 'snippets'

