- page_title "Запросы слияния"
- header_title group_title(@group, "Запросы слияния", merge_requests_group_path(@group))

.top-area
  = render 'shared/issuable/nav', type: :merge_requests
  .nav-controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "Новый запрос слияния"

= render 'shared/issuable/filter', type: :merge_requests

.gray-content-block.second-block
  Запросить слияние только для
  %strong #{@group.name}
  групп перечисленых здесь.
  - if current_user
    Чтобы увидеть все запросы слияния, посетите страницу #{link_to 'панели управления', merge_requests_dashboard_path}.

.prepend-top-default
  = render 'shared/merge_requests'
