- page_title 'Внешний вид'
- header_title page_title, profile_preferences_path

.alert.alert-help.prepend-top-default
  Эти настройки позволяют настроить внешний вид и поведение сайта.
  Они сохраняются для вашего аккаунта, и будет использованы на всех устройствах,
  какие вы используете для доступ на сайт.

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: {class: 'js-preferences-form form-horizontal'} do |f|
  .panel.panel-default.application-theme
    .panel-heading
      Тема оформления
    .panel-body
      - Gitlab::Themes.each do |theme|
        = label_tag do
          .preview{class: theme.css_class}
          = f.radio_button :theme_id, theme.id
          = theme.name

  .panel.panel-default.syntax-theme
    .panel-heading
      Подсветка синтаксиса
    .panel-body
      - Gitlab::ColorSchemes.each do |scheme|
        = label_tag do
          .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
          = f.radio_button :color_scheme_id, scheme.id
          = scheme.name

  .panel.panel-default
    .panel-heading
      Поведение
    .panel-body
      .form-group
        = f.label :layout, class: 'control-label' do
          Ширина макета
        .col-sm-10
          = f.select :layout, layout_choices, {}, class: 'form-control'
          .help-block
            Выберите между фиксированным (макс. 1200px) и динамичным (100%) поведением макета.
      .form-group
        = f.label :dashboard, class: 'control-label' do
          Панель управления по умолчанию
          = link_to('(?)', help_page_path('profile', 'preferences') + '#default-dashboard', target: '_blank')
        .col-sm-10
          = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
      .form-group
        = f.label :project_view, class: 'control-label' do
          Вид проекта
          = link_to('(?)', help_page_path('profile', 'preferences') + '#default-project-view', target: '_blank')
        .col-sm-10
          = f.select :project_view, project_view_choices, {}, class: 'form-control'
          .help-block
            Выберите, что вы хотите видеть на главной странице проекта.
    .panel-footer
      = f.submit 'Сохранить изменения', class: 'btn btn-save'
