%div
  %h1
    GitLab
    Community Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLab является программным обеспечением с открытым исходным кодом для совместной работы над кодом.
    %br
    Управление git репозиториями с настраиваемым контролем доступа, содержащее ваш код в безопасности.
    %br
    Позволяет выполять анализ кода и расширять функционал с помошью сотрудничество, использя запросы слияния.
    %br
    Каждый проект может имеет возможность отслеживания кода и вики.
    %br
    GitLab используется в более чем 100 000 организаций, как наиболее популярное решения для управления локальными репозиториями git.
    %br
    Узнайте больше о GitLab на #{link_to promo_host, promo_url, target: '_blank'}.
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        Быстрая помощь
      %ul.well-list
        %li= link_to 'Посетите наш сайт для получения справки', promo_url + '/getting-help/'
        %li= link_to 'Используйте панель поиска в верхней части этой страницы', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to 'Использование ярлыков', '#', onclick: 'Shortcuts.showHelp(event)'
        %li= link_to 'Получить поддержку по подписке', 'https://about.gitlab.com/pricing/'
        %li= link_to 'Сравнение изданий GitLab', 'https://about.gitlab.com/features/#compare'
