%ul.nav.nav-sidebar
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: 'Обзор' do
      = icon('dashboard fw')
      %span
        Обзор
  = nav_link(controller: [:admin, :projects]) do
    = link_to admin_namespaces_projects_path, title: 'Проекты' do
      = icon('cube fw')
      %span
        Проекты
  = nav_link(controller: :users) do
    = link_to admin_users_path, title: 'Пользователи' do
      = icon('user fw')
      %span
        Пользователи
  = nav_link(controller: :groups) do
    = link_to admin_groups_path, title: 'Группы' do
      = icon('group fw')
      %span
        Группы
  = nav_link(controller: :deploy_keys) do
    = link_to admin_deploy_keys_path, title: 'Ключи развертывания' do
      = icon('key fw')
      %span
        Ключи развертывания
  = nav_link path: ['runners#index', 'runners#show'] do
    = link_to admin_runners_path, title: 'Runners' do
      = icon('cog fw')
      %span
        Runners
        %span.count= number_with_delimiter(Ci::Runner.count(:all))
  = nav_link path: 'builds#index' do
    = link_to admin_builds_path, title: 'Builds' do
      = icon('link fw')
      %span
        Builds
        %span.count= number_with_delimiter(Ci::Build.count(:all))
  = nav_link(controller: :logs) do
    = link_to admin_logs_path, title: 'Журналы' do
      = icon('file-text fw')
      %span
        Журналы
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path, title: 'Сообщения' do
      = icon('bullhorn fw')
      %span
        Сообщения
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path, title: 'Веб-хуки' do
      = icon('external-link fw')
      %span
        Веб-хуки
  = nav_link(controller: :background_jobs) do
    = link_to admin_background_jobs_path, title: 'Фоновые задания' do
      = icon('cog fw')
      %span
        Фоновые задания
  = nav_link(controller: :appearances) do
    = link_to admin_appearances_path, title: 'Внешний вид' do
      = icon('image')
      %span
        Внешний вид

  = nav_link(controller: :applications) do
    = link_to admin_applications_path, title: 'Приложения' do
      = icon('cloud fw')
      %span
        Приложения

  = nav_link(controller: :services) do
    = link_to admin_application_settings_services_path, title: 'Service Templates' do
      = icon('copy fw')
      %span
        Шаблоны служб

  = nav_link(controller: :labels) do
    = link_to admin_labels_path, title: 'Метки' do
      = icon('tags fw')
      %span
        Метки

  = nav_link(controller: :abuse_reports) do
    = link_to admin_abuse_reports_path, title: "Отчеты о проблемах" do
      = icon('exclamation-circle fw')
      %span
        Отчеты о проблемах
        %span.count= number_with_delimiter(AbuseReport.count(:all))

  - if askimet_enabled?
    = nav_link(controller: :spam_logs) do
      = link_to admin_spam_logs_path, title: "Журнал СПАМа" do
        = icon('exclamation-triangle fw')
        %span
          Журнал СПАМа
          %span.count= number_with_delimiter(SpamLog.count(:all))

  = nav_link(controller: :application_settings, html_options: { class: 'separate-item'}) do
    = link_to admin_application_settings_path, title: 'Настройки' do
      = icon('cogs fw')
      %span
        Настройки
