%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show'], html_options: {class: 'home'}) do
    = link_to dashboard_path, title: 'Домой', class: 'shortcuts-activity', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        Ваши проекты
  = nav_link(path: 'projects#starred') do
    = link_to starred_dashboard_projects_path, title: 'Избранные проекты', data: {placement: 'right'} do
      = icon('star fw')
      %span
        Избранные проекты
  = nav_link(controller: :groups) do
    = link_to dashboard_groups_path, title: 'Группы', data: {placement: 'right'} do
      = icon('group fw')
      %span
        Группы
  = nav_link(controller: :milestones) do
    = link_to dashboard_milestones_path, title: 'Итерации', data: {placement: 'right'} do
      = icon('clock-o fw')
      %span
        Итерации
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: 'Вопросы', class: 'shortcuts-issues', data: {placement: 'right'} do
      = icon('exclamation-circle fw')
      %span
        Вопросы
        %span.count= current_user.assigned_issues.opened.count
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: 'Запросы слияния', class: 'shortcuts-merge_requests', data: {placement: 'right'} do
      = icon('tasks fw')
      %span
        Запросы слияния
        %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Помощь', data: {placement: 'right'} do
      = icon('question-circle fw')
      %span
        Помощь
