%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to explore_root_path, title: 'Проекты' do
      = icon('home fw')
      %span
        Проекты
  = nav_link(controller: :groups) do
    = link_to explore_groups_path, title: 'Группы' do
      = icon('group fw')
      %span
        Группы
  = nav_link(controller: :snippets) do
    = link_to explore_snippets_path, title: 'Фрагменты' do
      = icon('clipboard fw')
      %span
        Фрагменты
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Помощь' do
      = icon('question-circle fw')
      %span
        Помощь
