%ul.nav.nav-sidebar
  = nav_link do
    = link_to root_path, title: 'Вернуться к панели управления', class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Панель управления

  %li.separate-item

  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: 'Настройки профиля' do
      = icon('user fw')
      %span
        Настройки профиля
  = nav_link(controller: [:accounts, :two_factor_auths]) do
    = link_to profile_account_path, title: 'Аккаунт' do
      = icon('gear fw')
      %span
        Аккаунт
  = nav_link(path: ['profiles#applications', 'applications#edit', 'applications#show', 'applications#new', 'applications#create']) do
    = link_to applications_profile_path, title: 'Приложения' do
      = icon('cloud fw')
      %span
        Приложения
  = nav_link(controller: :emails) do
    = link_to profile_emails_path, title: 'Электропочта' do
      = icon('envelope-o fw')
      %span
        Электропочта
        %span.count= number_with_delimiter(current_user.emails.count + 1)
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to edit_profile_password_path, title: 'Пароль' do
        = icon('lock fw')
        %span
          Пароль
  = nav_link(controller: :notifications) do
    = link_to profile_notifications_path, title: 'Уведомления' do
      = icon('inbox fw')
      %span
        Уведомления

  = nav_link(controller: :keys) do
    = link_to profile_keys_path, title: 'SSH ключи' do
      = icon('key fw')
      %span
        SSH ключи
        %span.count= number_with_delimiter(current_user.keys.count)
  = nav_link(controller: :preferences) do
    = link_to profile_preferences_path, title: 'Предпочтения' do
      -# TODO (rspeicher): Better icon?
      = icon('image fw')
      %span
        Предпочтения
  = nav_link(path: 'profiles#audit_log') do
    = link_to audit_log_profile_path, title: 'Журнал аудита' do
      = icon('history fw')
      %span
        Журнал аудита
