- page_title "Избранные проекты"
- if @projects.any?
  = render 'shared/show_aside'

  .dashboard.row
    %section.activities.col-md-8
      = render 'dashboard/activities'
    %aside.col-md-4
      .panel.panel-default
        .panel-heading.clearfix
          .input-group
            = search_field_tag :filter_projects, nil, placeholder: 'Фильтр по наименованию', class: 'projects-list-filter form-control'
            - if current_user.can_create_project?
              %span.input-group-btn
                = link_to new_project_path, class: 'btn btn-success' do
                  Новый проект

        = render 'shared/projects_list', projects: @projects,
          projects_limit: 20, stars: true, avatar: false

- else
  %h3 У вас еще нет избранных проектов
  %p.slead Посетив страницу проекта, нажмите на значок звездочки и он появится на этой странице.
