- page_title "Пароль"
- header_title page_title, edit_profile_password_path

.alert.alert-help.prepend-top-default
  - if @user.password_automatically_set?
    Введите свой пароль.
  - else
    Изменить свой пароль или восстановить текущий.

.update-password.prepend-top-default
  = form_for @user, url: profile_password_path, method: :put, html: { class: 'form-horizontal' }  do |f|
    %div
      %p.slead
        - unless @user.password_automatically_set?
          Вы должны указать текущий пароль, чтобы изменить его.
          %br
        После успешного изменения пароля, вы будете перенаправлены на страницу входа, где вы можете войти в систему с новым паролем.
      -if @user.errors.any?
        .alert.alert-danger
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      - unless @user.password_automatically_set?
        .form-group
          = f.label :current_password, class: 'control-label'
          .col-sm-10
            = f.password_field :current_password, required: true, class: 'form-control'
            %div
              = link_to "Забыли пароль?", reset_profile_password_path, method: :put

      .form-group
        = f.label :password, 'Новый пароль', class: 'control-label'
        .col-sm-10
          = f.password_field :password, required: true, class: 'form-control'
      .form-group
        = f.label :password_confirmation, class: 'control-label'
        .col-sm-10
          = f.password_field :password_confirmation, required: true, class: 'form-control'
      .form-actions
        = f.submit 'Сохранить пароль', class: "btn btn-create"
